/* импорт стиля Poppins с https://fonts.google.com/selection/embed */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* для всех елементов - m 0, p 0 - удаляем оступы и другую хуйню(0 - удаляем) */
* {
    margin: 0;
    padding: 0;
}

/* блок BODY - bg, color, ff Poppins (https://fonts.google.com/selection/embed), w 400, fs 16 */
body {
    background: #000;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* все url - textDec none - убрать подчеркиванние */
a {
    text-decoration: none;
}

/* все img - maxW 100% - не вылазять з предели */
img {
    max-width: 100%;
}





/*  */
/* Page Home */
/*  */

/* блок обертка градиент с https://cssgradient.io/ и ширина 100% экрана, over-x hidden - обрежет все что вилазит за экан по осе х  */
.wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
    width: 100%;
    overflow-x: hidden;
}

/* блок контейнера (отступ) - ширина 1400, отступ 0 auto */
.container {
    width: 1400px;
    margin: 0 auto;
}

/* блок головы - внутриние отступы 50 0 */
header {
    padding: 50px 0;
}





/* логотип - в вехнем регистре, fs 29, fw 800 */
header .logo,
footer .blocks .logo {
    /* тектс в векхнем регистре uppercase */
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

/* блок Menu - fRight, W 50% */
header nav {
    float: right;
    width: 50%;
}

/* блок Menu - режым списка off, dFlex, jc sb, pr, z2  */
header nav ul {
    list-style: none;
    display: flex;
    /* на всю ширину блока */
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

/* блок Menu - каждий элемент в строчный блок что б применять магию педином мержингов !!! */
header nav ul li {
    display: inline-block;
}

/* блок Menu - текст ссылок белый */
header nav ul li a {
    color: #fff;
}

/* ефект выбраного пункта,подчеркивание меню - ::after указывает что нужно пременить после выбора. Content 0, dBlock, W 40, H 5, bg, br 10, pr, T 0.5, Left -15 */
header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 0.5px;
    left: -15px;
}

/* эфект при наведении 1 - главное меню (hover) кроме active и btn - bb 5 solid */
header nav ul li:not(.active):not(.btn) a:hover {
    /* обводка снизу под панелькой */
    border-bottom: 5px solid #DC7000;
}

/* эфект кнопки 1 - bg, p 9 17, br 5, trans ease 500 */
header nav ul li.btn a,
.email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

/* эфект при наведении 2 - bg */
header nav ul li.btn a:hover,
.email .block button:hover {
    background: #a02604;
}





/* блок презентации - pB 100, pr, z 1 */
.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

/* блок презентации текст - W 530, pT 70 */
.hero--info {
    width: 530px;
    padding-top: 70px;
}

/* блок презентации заголовок - color, fS 20, fw 600 */
.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}

/* блок презентации мини-заголовок - fS 50, fw 600 */
.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

/* блок презентации абзац - fw 500, lineH 170%, m 30 0 */
.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

/* блок презентации кнопка - bg, color, br 50, p 15 30, b 0, tran 500 ease, fs 17 */
.hero--info .btn,
.hero-about .info .btn {
    background: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

/* эфект при наведении 3 - cur point, tran scale 1.1 */
.hero--info .btn:hover,
.hero-about .info .btn:hover {
    /* активный курсор */
    cursor: pointer;
    transform: scale(1.1);
}

/* блок презентации картинка - pos abs, T -150, Right 0 */
.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}





/* блок витрины - pT 30 что б не прижматься сильно к верхней секции */
.showcase {
    padding-top: 50px;
}

/* блок витрины заголовок - fw 600, fs 31 */
.showcase h3 {
    font-weight: 600;
    font-size: 31px;
}

/* блок витрины кнопка - color, bg, br 5, mt 20, p 12 23, fRight, dBlock, tran 500 ease */
.showcase .see-all,
.projects .see-all {
    color: #fff;
    background: #25211d;
    border-radius: 5px;
    margin-top: 20px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

/* эфект при наведении 4 - tran scale 1.1 */
.showcase .see-all:hover,
.projects .see-all:hover {
    transform: scale(1.1);
}

/* блок мини-витрины - dFlex, jc sb, W 100%, p 50 0 */
.showcase .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

/* блок мини-витрины подпись - dBlock, ta center, mt 20 */
.showcase .games span {
    /* что б розместить под картинкой текст */
    display: block;
    /* по центру картинки */
    text-align: center;
    margin-top: 20px;
}

/* блок мини-витрины картинка - pos rel, T 5, mt 7 */
.showcase .games span img {
    /* относительное позиционирование что б сместить на пару пикселей */
    position: relative;
    top: 5px;
    margin-right: 7px;
}



/* под блок мини-витрины текст под - p 50 0, fs 35, fw 600, ta center, W 800 */
.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}





/* блок банер - p 80 0 */
.banner {
    padding: 80px 0;
}

/* блок банер заголовок - fs 30, fw 600, mb 30 */
.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* блок банер абзац - lineH 170%, mb 30, W 550 */
.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

/* блок банер картинка - W 100%, mb 30 */
.banner img {
    width: 100%;
    margin-bottom: 30px;
}





/* Секция с статичным изображением (SSI) - bg no-rep center center fix, bgs cover, p 80 0 */
.features {
    background: url('../upload/css_features_bg.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

/* SSI текст - mb 20, maxW 800, ta center, ml auto, mr auto - последнее два параметра что б сработал text-align: center */
.features h3,
.features p {
    margin-bottom: 20px;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* SSI заголовок - fs 30 */
.features h3 {
    font-size: 30px;
}

/* SSI витрина - dFlex, flexW wrap, jc center */
.features .info {
    /* свободно розместить блоки */
    display: flex;
    /* дать возможность переходить на следушый ряд блоку */
    flex-wrap: wrap;
    justify-content: center;
}

/* SSI блок мини-витрины - ta center, W 20%, m 30 2% */
.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

/* SSI блок мини-витрины картинка - mb 15 */
.features .info .block img {
    margin-bottom: 15px;
}





/* блок проектов - p 100% 0 */
.projects {
    padding: 100px 0;
}

/* блок проектов заголовок - fs 30, ta center */
.projects h3 {
    font-size: 30px;
    text-align: center;
}

/* блок проектов абзац - m 40 0, ta center */
.projects p {
    margin: 40px 0;
    text-align: center;
}

/* блок проектов картинки - dFlex, jc sb, mb 25 */
.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

/* блок проектов кнопка - fNone, W 60, ta center, m auto, mt 50 */
.projects .see-all {
    float: none;
    width: 60px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}





/* блок формы email - pb 120 */
.email {
    padding-bottom: 120px;
}

/* блок формы email заголовок - mt 60, fs 30 */
.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

/* блок формы email - bg, mt 30, br 10, p 40 3%, W 94%, dFlex, jc sb, ai center */
.email .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* блок формы email подзаголовок - fs 30, fw 500 */
.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

/* блок формы email абзац - W 500 */
.email .block p {
    width: 500px;
}

/* блок формы email input - bg, outL none, b 0, br 5, w 380, ff, fw 400, p 20 30, pos rel, right -100, z 1, pr 120 */
.email .block input {
    background: #fff;
    /* none убираем подсветку при выборе input поля */
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    /* для input поля нужно указать стиль иначе будет стандартный */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    /* перед здвигом делаем ее относительной */
    position: relative;
    right: -100px;
    z-index: 1;
    /* что б не вилазить текстом за input */
    padding-right: 120px;
}

/* блок формы email поле ввода подсказка - color */
.email .block input::placeholder {
    color: #898989;
}

/* блок формы email поле ввода кнопка - b 0, cur point, color, p 13 17, pos rel, z 2 */
.email .block button {
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 13px 17px;
    /* что б была сверху */
    position: relative;
    z-index: 2;
}





/*  */
/* footer */
/*  */

/* bg, p 50 0 */
footer {
    background: #000;
    padding: 50px 0;
}

/* блоки - dFlex, jc sb */
footer .blocks {
    display: flex;
    justify-content: space-between;
}

/* абзац - w 300, m 15 */
footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

/* подзаголовок - fw 500, fs 17 */
footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

/* список - ls none */
footer .blocks ul {
    list-style: none;
}

/* список и текст - mt 7, opa 0.8 */
footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

/* толстая полоса - bg, b 0, m 30 0, H 0.6 */
footer hr {
    background: #ccc;
    border: 0;
    margin: 30px 0;
    height: 0.6px;
}

/* pravicy - ta center */
footer > p {
    text-align: center;
}





/*  */
/* Page About us */
/*  */

/* блок с презитацей 1 - pos rel */
.hero-about {
    position: relative;
}

/* блок с презитацей 1 текст - w 500, p 250 0 */
.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

/* блок с презитацей 1 заголовок - mb 15, fs 30 */
.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

/* блок с презитацей 1 кнопка - mt 20 */
.hero-about .info .btn {
    margin-top: 20px;
}

/* блок с презитацей 1 картинка - pos rel, right -150, t 0 */
.hero-about img {
    position: absolute;
    right: -143px;
    top: 0;
}





/* блок мини описаний - p 80 0 */
.work {
    padding: 80px 0;
}

/* блок мини описаний заголовок - fs 25, mb 40 */
.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

/* блок мини описаний блок - dFlex, jc sb */
.work .blocks {
    display: flex;
    justify-content: space-between;
}

/* блок мини описаний блоки - w 25, br - 10, p 50 35, bg */
.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}

/* блок мини описаний блоки - fs 20, m 20 0 */
.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}

/* блок мини описаний блоки значки - br 7, p 10 20 */
.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
}

/* блок мини описаний значок - bg */
.work .blocks .block .badge.purple {
    background: #B000DC;
}

/* блок мини описаний значок - bg */
.work .blocks .block .badge.brown {
    background: #874e35;
}

/* блок мини описаний значок - bg */
.work .blocks .block .badge.green {
    background: #00b277;
}

/* блок с презитацей 2 */
.showcase {
    padding: 15px 0;
}




/*  */
/* page Contacts */
/*  */

/* блок презентацией с описанием сверху заголовок - ta center, mt 70, mb 30, fs 33 */
.hero-contacts h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}

/* блок презентацией с описанием сверху абзац - ta center */
.hero-contacts p {
    text-align: center;
}

/* блок презентацией рисунок - w 70, m 80 15% */
.hero-contacts img {
    width: 70%;
    margin: 80px 15%;
}


/* блок feedback - p 70 0, bg */
.feedback {
    padding: 70px 0;
    background: #1C140F;
}

/* блок feedback, заголовок - ta center, fw 500, fs 30 */
.feedback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

/* блок feedback, абзац - ta center, mt 10 */
.feedback p {
    text-align: center;
    margin-top: 10px; 
}

/* блок feedback, форма - m 80 auto, w 600 */
.feedback form {
    margin: 80px auto;
    width: 600px;
}

/* блок feedback, первый ряд - dFlex, jc sb */
.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

/* блок feedback, все div за inline (первый ряд) - w 50 */
.feedback form .inline>div {
    width: 50%;
}

/* блок feedback, подписи - color, fs 14 */
.feedback form label {
    color: #4F4F4F;
    font-size: 14px;

}

/* блок feedback, место ввода имя,email и смс - bg, br 10, b 0.6 solid, dBlock, w 90%, p 15 10, outL none, color, mt 7, mb 20 */
.feedback form input,
.feedback form textarea {
    background: #2C2420;
    border-radius: 10px;
    border: 0.6px solid #CECECE;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}

/* блок feedback, поле ввода - w 96 */
.feedback form .one-line {
    width: 96%;
}

/* блок feedback, поле ввода нельзя розянуть - rs none, h 200 */
.feedback form textarea {
    resize: none;
    height: 200px;
}

/* блок feedback, кнопка - bg, fs 16, br 5, b 0, fRight, cur point, color, p 15 35, tran 500 ease */
.feedback form button {
    background: #DC7000;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #fff;
    padding: 15px 35px;
    transition: all 500ms ease;
}

/* блок feedback, ефект при наведении - bg */
.feedback form button:hover {
    background: #b01414;
}